{% extends "layout.html" %}

{% block title %}
Lista de Huespedes
{% endblock %}

{% block content %}
<h4 class="mt-5">Lista de Huespedes</h4>
<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Edad</th>
      <th scope="col">Ciudad</th>
    </tr>
  </thead>
  <tbody>
    {% for item in huespedesl %}
    <tr>
      <th scope="row">{{ guest.id }}</th>
      <td>{{ guest.hab }}</td>
      <td>{{ guest.nombre }}</td>
      <td>{{ guest.edad }}</td>
      <td>{{ guest.ciudad }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}